@page
@model PricingCalendar.Pages.RentalPeriods.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalPeriod[0].Rental)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalPeriod[0].StartAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalPeriod[0].EndAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalPeriod[0].DurationHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalPeriod[0].WeightedPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RentalPeriod) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rental.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightedPrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
